@font-face {
    font-family: "CascadiaMono";
    src: url("./fonts/CascadiaMono.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --default-theme: #ffffff;

    --low-outline: #000000;

    --default-bg: #00ff00;

    --ButtonSelected: #00000040;
    --ButtonSelected_Blue: #2eb9ff;
    --ButtonSelected_Red: #ff3939;
}

* {
    user-select: none;
    margin: 0;
    font-family: sans-serif;
}

#root,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#PngtubeStudio_Header {
    width: 100%;
    height: 35px;
    display: flex;
    border-bottom: 2px solid var(--low-outline);
    background-color: var(--default-theme);
}

#PngtubeStudio_HeaderName {
    margin: 0;
    width: 60%;
    -webkit-app-region: drag;
}

#PngtubeStudio_HeaderName * {
    display: grid;
    place-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    font-size: x-large;
    -webkit-app-region: drag;
}

#PngtubeStudio_HeaderButtons,
#PngtubeStudio_HeaderControls {
    display: flex;
    width: 20%;
}

#PngtubeStudio_HeaderButtons {
    justify-content: flex-start;
}

#PngtubeStudio_HeaderControls {
    justify-content: flex-end;
}

.PngtubeStudio_HeaderButtons_Elements {
    transition: all .2s ease-in-out;
}

.PngtubeStudio_HeaderButtons_Elements:hover {
    background-color: var(--ButtonSelected);
}

#FullScreenButton svg {
    transition: all .1s ease;
}

#FullScreenButton:hover svg {
    transform: scale(0.85);
    /* animation: ease-in-out .5s FullScreenAnimation; */
}

@keyframes FullScreenAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1);
    }
}

#SettingsButton svg {
    transition: all 1s ease;
}

#SettingsButton:hover svg {
    transform: rotate(360deg);
}

#ZoomMinusButton svg {
    transform: scale(1.5);
    transition: all .2s ease;
}

#ZoomPlusButton svg {
    transform: scale(1.5) rotate(45deg);
    transition: all .2s ease;
}

#ZoomMinusButton:hover svg {
    transform: scale(1.1);
}

#ZoomPlusButton:hover svg {
    transform: scale(1.1) rotate(45deg);
}

#Minimize,
#MaxMin,
#Close {
    transition: all .2s ease;
}

#Minimize:hover {
    background-color: var(--ButtonSelected);
}

#MaxMin:hover {
    background-color: var(--ButtonSelected_Blue);
}

#Close:hover {
    background-color: var(--ButtonSelected_Red);
}

.PngtubeStudio_HeaderButtons_Elements:last-child:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 20px;
    background-color: var(--low-outline);
    right: -1px;
    top: 7.5px;
}

/* 
.PngtubeStudio_HeaderControls_Elements:nth-child(even)::before, */
.PngtubeStudio_HeaderControls_Elements:first-child::after {
    z-index: 1;
    position: absolute;
    content: "";
    width: 2px;
    height: 20px;
    background-color: var(--low-outline);
}

.PngtubeStudio_HeaderControls_Elements:first-child::after {
    left: -1px;
    top: 7.5px;
}

/* .PngtubeStudio_HeaderControls_Elements:nth-child(even)::before {
    right: -1px;
    top: 7.5px;
} */

.PngtubeStudio_HeaderControls_Elements svg {
    transform: scale(1.25);
}

.PngtubeStudio_HeaderButtons_Elements,
.PngtubeStudio_HeaderControls_Elements {
    position: relative;
    background-color: var(--default-theme);
    border: none;
    display: grid;
    place-content: center;
    padding: 0;
    aspect-ratio: 1/1;
    width: 45px;
    height: 35px;
}

/* ---------------------- Main ---------------------- */
#Main {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 37px);
    grid-area: main;
    justify-content: center;
    align-items: center;
}

#ModelViewer {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100vw;
}

.ModelViewerOutFull {
    height: calc(100vh - 20px);
}

.ModelViewerInFull {
    height: 100%
}

.AvatarActive {
    animation: 0.5s ease 0s infinite shake;
}

#AvatarShowcase {
    margin: 0 10px 0 0;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    width: 100px;
    height: 370px;
    transition: all .15s ease;
    overflow-y: auto;
}

#AvatarShowcase::-webkit-scrollbar {
    overflow: hidden;
    width: 2px;
    box-sizing: border-box
}

#AvatarShowcase::-webkit-scrollbar-track {
    background-color: transparent;
    width: 2px;
}

#AvatarShowcase::-webkit-scrollbar-thumb {
    background-color: transparent;
    width: 2px;
}

#AvatarShowcase:hover::-webkit-scrollbar-thumb {
    width: 2px;
    background: #000000;
}

.AvatarShowcase-Active {
    right: 0;
    transition: all .15s ease;
}

.AvatarShowcase-Desactive {
    right: -110px;
    transition: all .15s ease;
}

#AvatarShowcase-List {
    flex-direction: column;
    list-style: none;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AvatarShowcase-List-Elements {
    cursor: pointer;
    display: flex;
    width: 75px;
    height: 75px;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 2.5px;
    justify-content: center;
}

.AvatarShowcase-List-Elements:nth-child(even) {
    margin: 10px 0;
}

.AvatarShowcase-List-AvatarName {
    margin: 5px 0 0 0;
    font-weight: bold;
}

/* Keyframes */
@keyframes shake {
    0% {
        transform: translate(-2px, -2px);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(2px, -2px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate(2px, 2px);
    }

    100% {
        transform: translate(-2px, 2px);
    }
}

/* ---------------------- Footer ---------------------- */
#FooBar {
    position: absolute;
    bottom: 0;
    width: calc(100% - 50px);
    height: 60px;
    max-width: 100%;
    max-height: 60px;
    display: flex;
    padding: 0 25px;
    z-index: 2;
    align-items: center;
    justify-content: space-around;
}

#FooterBar_Microphone,
#FooterBar_Controls {
    width: 50%;
    height: 100%;
}

#FooterBar_Microphone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#FooterBar_Controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* ---------------------- Footer Controls ---------------------- */
#FooBar-Microphone {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 350px;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    border-radius: 2.5px;
    background-color: #ffffff;
    padding: 2.5px 0;
}

#FooBar-Microphone>* {
    margin: 0 2.5px
}

#FooBar-Microphone-Counter,
#FooBar-Microphone-Button {
    text-align: center;
    font-size: large;
    width: 45px;
    max-width: 45px;
    font-weight: 800
}

#FooBar-Microphone-Button {
    padding: 0;
    box-sizing: border-box;
    border-radius: 2.5px;
    height: 30px;
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    justify-content: center
}

#FooBar-Microphone-Button:hover {
    background: #00000040
}

#FooBar-Microphone-Button:hover svg {
    animation: MicrophoneButtonAnimation .5s;
}

@keyframes MicrophoneButtonAnimation {
    0% {
        transform: rotateZ(0deg);
    }

    30% {
        transform: rotateZ(-5deg);
    }

    70% {
        transform: rotateZ(5deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

#FooBar-Microphone-Controls {
    width: 200px;
    width: 200px
}

#FooBar-Microphone-Visualizer {
    position: relative;
    display: flex;
    width: 200px;
    height: 20px;
    max-width: 200px;
    max-height: 20px
}

#FooBar-Microphone-Visualizer-Level {
    position: absolute;
    outline: 2px solid #000000
}

#FooBar-Microphone-Visualizer-Slider {
    -webkit-appearance: none;
    position: absolute;
    width: 200px;
    height: 20px;
    max-width: 100%;
    max-height: 100%;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    cursor: pointer
}

#FooBar-Microphone-Visualizer-Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 20px;
    background: #000000;
    transition: all .2s
}

#FooBar-Microphone-Visualizer-Slider:hover::-webkit-slider-thumb {
    background: linear-gradient(#000000 0% 30%, transparent 30% 70%, #000 70% 100%);
}

#FooBar-Microphone-Amplifier {
    width: 200px;
    height: 10px;
    margin: 0 0 5px;
    display: grid;
    place-items: center
}

#FooBar-Microphone-Amplifier-Slider {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0;
    box-sizing: border-box;
    width: 200px;
    outline: 2px solid #000;
    margin: 0;
    overflow: visible;
    cursor: pointer;
    transition: all .2s ease
}

/* #FooBar-Microphone-Amplifier-Slider:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -1.5px;
    width: 2px;
    height: 10px;
    background: #000;
    transition: all .2s ease
}

#FooBar-Microphone-Amplifier-Slider:after {
    content: "";
    position: absolute;
    top: -5px;
    left: calc(100% - 0px);
    width: 2px;
    height: 10px;
    background: #000;
    transition: all .2s ease
} */

#FooBar-Microphone-Amplifier-Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background: radial-gradient(circle, #000000, #000000);
    transition: all .4s ease
}

#FooBar-Microphone-Amplifier-Slider:hover {
    height: 10px;
    transition: all .2s ease
}

/* #FooBar-Microphone-Amplifier-Slider:hover:before,
#FooBar-Microphone-Amplifier-Slider:hover:after {
    top: 0;
    transition: all .2s ease
} */

#FooBar-Microphone-Amplifier-Slider:hover::-webkit-slider-thumb {
    border-radius: 0;
    width: 5px;
    transition: all .4s ease
}

.FooBar-Microphone-Target {
    position: absolute;
    padding: 7.5px;
    width: 175px;
    top: -125%;
    background-color: #ffffff;
    justify-content: center;
    align-items: center
}

.FooBar-Microphone-Target-Elementor {
    margin: 0;
    display: flex;
    font-size: medium;
    font-weight: 800
}

/* ---------------------- Lateral Footer ---------------------- */
#FooBar-LateralLeft {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    align-items: center;
}

.FooBar-LateralRight-Button,
.FooBar-LateralLeft-Button {
    border-radius: 2.5px;
    background: #ffffff;
    border: none;
    position: relative;
    width: 40px;
    padding: 0;
    height: 40px;
    display: grid;
    place-items: center
}

.FooBar-LateralRight-Button:nth-child(even),
.FooBar-LateralLeft-Button:nth-child(even) {
    margin: 0 10px;
}

.FooBar-LateralRight-Button:hover:before,
.FooBar-LateralLeft-Button:hover:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: #00000040;
    border-radius: 2.5px;
}