#Settings {
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    place-items: center;
    top: 0;
    left: 0;
    background: #00000050;
    box-sizing: border-box;
}

#SettingsMain {
    position: relative;
    height: 100%;
    min-height: 500px;
    max-height: 500px;
    max-width: 800px;
    border-radius: 2.5px;
    display: grid;
    background-color: #fff;
    grid-template: "navigator viewer viewer" "navigator viewer viewer" "navigator viewer viewer"
}

#SettingsList {
    display: grid;
    grid-area: navigator;
    min-width: 200px;
    place-items: center;
}

#SettingsList-Content {
    width: calc(100% - 16px);
    border-radius: 2.5px;
    background: #00000030;
    height: calc(100% - 16px);
    display: grid;
    grid-template:
        "image" 120px
        "content"
        "Data" 40px;
}

#SettingsList-Content-Image {
    grid-area: image;
    display: grid;
    place-items: center;
    border-bottom: 4px solid #ffffff;
}

#SettingsList-Content-Image-Element {
    width: 120px;
}

#SettingsList-Content-Scroll {
    grid-area: content;
}

#Settings-Info {
    display: flex;
    border-top: 4px solid #ffffff;
    grid-area: Data;
    align-items: center;
    justify-content: center;
}

#Settings-Info p {
    display: block;
    height: 17px;
}

#Settings-Info svg {
    width: 17px;
    height: 17px;
    margin: 0 4px 0 0;
}

#Settings-Info a {
    height: 100%;
    text-decoration: none;
    color: #000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#SettingsView {
    grid-area: viewer;
    padding: 0 20px 8px 20px;
    min-width: 540px;
    max-width: 540px;
    max-height: 490px;
    display: grid;
    box-sizing: content-box;
    overflow: hidden;
    overflow-y: auto;
    grid-template:
        "tool" 65px
        "content";
}

#SettingsView-Tool {
    margin: 0;
    height: 50px;
    display: flex;
    grid-area: tool;
    align-items: center;
    padding: 10px 0 0;
    justify-content: flex-end;
}

#SettingsView-Tool-CloseButton {
    border: none;
    width: 30px;
    background: none;
    height: 30px;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    border-radius: 15px;
    transition: all .1s ease;
    cursor: pointer;
}

#SettingsView-Tool-CloseButton svg {
    transform: scale(1.5);
}

#SettingsView-Tool-CloseButton:hover {
    background: #00000030;
}

#SettingsView-Content {
    width: 100%;
    max-width: 552px;
    position: relative;
    box-sizing: border-box;
    grid-area: content;
    height: 100%;
    padding: 0;
}

#SettingsList-Content-Scroll-Capsule {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 10px 10px;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.SettingsList-Content-Scroll-Element {
    position: relative;
    list-style: none;
    border-radius: 2.5px;
    box-sizing: border-box;
    width: 100%;
    height: 31px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    align-items: center;
}

.SettingsList-Content-Scroll-Element:hover {
    background: #b9b9b9;
}

.SettingsList-Content-Scroll-Element:hover:before {
    position: absolute;
    content: "";
    right: -18px;
    width: 20px;
    height: 31px;
    background: #b9b9b9;
}

.SettingsList-Content-Scroll-Element:nth-child(even) {
    margin: 5px 0;
}

.OptionsElement-Execution-Select {
    appearance: none;
    text-align: center;
    width: 100%;
    border: none;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    height: 100%;
    font-weight: bold;
    font-size: medium;
}

.OptionsElement-Execution-Select:focus {
    outline: none;
}

.SettingsRouter-Selected:before {
    position: absolute;
    content: "";
    right: -18px;
    width: 20px;
    height: 31px;
    background: #ffffff;
}

.SettingsRouter-Selected:hover:before {
    position: absolute;
    content: "";
    right: -20px;
    width: 20px;
    height: 31px;
    background: #ffffff;
}

.SettingsRouter-Selected {
    background: #ffffff;
}

.SettingsRouter-Selected:hover {
    background: #ffffff
}

.SettingsOpen {
    display: grid;
}

#SettingsMain {
    animation: OpenSettings .15s ease;
}

.SettingClose {
    display: none;
}

@keyframes OpenSettings {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Settings Elements */

.OptionsElementList,
.OptionsElement {
    position: relative;
    width: 100%;
    display: flex;
}

.OptionsElementList {
    flex-direction: column;
}

#SettingsView-Content>div:nth-child(even) {
    margin: 15px 0;
}

.OptionsElement-RequireRestart::after {
    display: grid;
    place-content: center;
    font-size: small;
    font-weight: bold;
    content: "Requiere un reinicio";
    bottom: 0;
    position: relative;
    width: 200px;
    height: 20px;
    background: linear-gradient(90deg, #ff2f00 0 10%, #00000030 10% 100%);
    border-radius: 2.5px;
    margin: 5px 0 0 0;
}

.OptionsElement-DataList,
.OptionsElement-Data {
    display: flex;
    width: 80%;
    font-size: x-small;
    flex-direction: column;
    justify-content: center;
}

.OptionsElement-DataList {
    margin: 0 0 5px 0;
    width: 100%;
}

.OptionsElement-List {
    overflow: hidden;
    overflow-y: auto;
    height: 230px;
    max-height: 230px;
    border-radius: 2.5px;
    box-sizing: border-box;
    background-color: #00000030;
    border: 5px solid transparent;
}

.OptionsElement-ListElement:nth-child(even) {
    margin: 5px 0;
}

.OptionsElement-List::-webkit-scrollbar {
    width: 0;
}

.OptionsElement-ListElement {
    position: relative;
    display: grid;
    border-radius: 2.5px;
    overflow: hidden;
    height: 84px;
    max-height: 84px;
    grid-template-columns: 150px calc(100% - 200px) 50px;
    align-items: center;
    box-sizing: border-box;
    border: none;
    transition: all ease .2s;
}

#OptionsElementList-Selected {
    border-bottom: 4px solid #00ff00;
}

#OptionsElement-ListElement-Add {
    width: 100%;
    margin: 5px 0 0 0;
    place-items: center;
    height: 42px;
    max-height: 42px;
    cursor: pointer;
}

#OptionsElement-ListElement-Add button {
    width: 90%;
    height: 100%;
    border-radius: 2.5px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#OptionsElement-ListElement-Add p {
    font-size: larger;
    font-weight: bold;
    height: 15px;
}

#OptionsElement-ListElement-Add svg {
    transform: scale(1.5) rotate(45deg);
    margin: 0 10px 0 0;
}

.OptionsElement-ListElementImage {
    width: 150px;
    max-width: 150px;
    height: 84px;
    max-height: 84px;
    aspect-ratio: 16/9;
}

.OptionsElement-ListElementImage img {
    height: 84px;
    max-height: 84px;
    aspect-ratio: 16/9;
}

.OptionsElement-ListElementData {
    width: 100%;
    max-width: 100%;
    height: 84px;
    max-height: 84px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    background-color: #ffffff;
    justify-content: center;
}

.OptionsElement-ListElementData h2 {
    font-size: large;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.OptionsElement-ListElementAction {
    display: grid;
    place-items: center;
    width: 50px;
    max-width: 50px;
    height: 84px;
    box-sizing: border-box;
    max-height: 100px;
    background-color: #ffffff;
    cursor: pointer;
}

.OptionsElement-ListElementAction button {
    border-radius: 2.5px;
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    background: transparent;
    border: none;
}

.OptionsElement-ListElementAction button:hover {
    background: #00000030;
}

.OptionsElement-ListElementAction svg {
    transform: scale(2);
}

.OptionsElement-Execution {
    width: 75px;
    max-width: 75px;
    min-width: 75px;
    display: flex;
    margin: 0 auto;
    grid-area: option;
    justify-content: flex-end;
    align-items: center;
}

.OptionsElement-Execution-ColorSchema {
    margin: 0 30px 0 0;
    width: 26px;
    height: 26px;
    outline: 2px solid #000;
}

.OptionsElement-Execution-Input {
    overflow: hidden;
    position: relative;
    background: #ffffff;
    appearance: none;
    display: flex;
    width: 50px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 25px;
    transition: all .2s ease;
    align-items: center
}

.OptionsElement-Execution-Input:after {
    transition: all .2s ease;
    position: absolute;
    box-sizing: border-box;
    content: "";
    width: 50%;
    height: 15px;
}

.OptionsElement-Execution-InputColor {
    position: relative;
    appearance: none;
    width: 100px;
    height: 27px;
    border: none;
    background: linear-gradient(to right, red, yellow, lime, cyan, blue, magenta, red);
    cursor: pointer;
}

.OptionsElement-Execution-InputColor::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    width: 5px;
    height: 27px;
    z-index: 5;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 33%, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 67%, rgba(0,0,0,1) 67%);
    transition: all .2s
}

.OptionsElement-Execution-InputColor::-webkit-slider-thumb::before {
    position: absolute;
    content: "";
    z-index: 2;
    top: 0;
    left: 0;
    width: 50px;
    height: 20px;
    background-color: #000000;
}

.Execution-Off::after,
.Execution-Allow::after {
    display: grid;
    place-content: center;
    font-weight: bold;
    box-sizing: border-box;
    width: 55%;
    height: 100%;
    border-radius: 20px;
    outline: 1px solid #000000;
}

.Execution-Off:after {
    left: 0;
    background: #000000;
    color: #ffffff;
    content: "✖";
}

.Execution-Allow:after {
    right: 0;
    background: #00ff00;
    color: #000000;
    content: "✔";
}

#SettingsView-Content-Confirm {
    position: fixed;
    bottom: 0px;
    left: 0;
    height: 35px;
    box-sizing: border-box;
    font-weight: bold;
    border: none;
    border-top: 2px solid #000000;
    border-radius: 2.5px;
    width: 100%;
    background: #ffffff;
    align-items: center;
    justify-content: space-evenly;
}

#SettingsView-Content-Confirm-Options {
    display: flex;
}

.SettingsView-Content-Confirm-Options_Buttons {
    width: 90px;
    border: none;
    height: 25px;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s ease;
    display: grid;
    place-content: center;
}

#SettingsView-Content-Confirm-Options_Discard {
    margin: 0 10px 0 0;
    background: transparent;
}

#SettingsView-Content-Confirm-Options_Discard:hover {
    transform: scale(0.9);
    background: #ffffff
}

.SettingsView-Content-Confirm-Good {
    background: #04dc1e;
    color: #000000;
}

.SettingsView-Content-Confirm-Failure {
    background: #ff2f00;
    color: #ffffff;
}

#SettingsView-Content-Confirm-Options_Save:hover {
    transform: scale(0.9);
}